:root {
    --oxford-blue:#14213D;
    --seasalt: #F8F8F8;
    --orange: #FCA311;
    --platinum: #E5E5E5;
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section_blue {
    background-color: var(--oxford-blue);   
    color: var(--seasalt);
}

.section_white {
    background-color: var(--seasalt);
    color: var(--oxford-blue);
}

.section_orange{
    background-color: var(--orange);
    color: var(--seasalt);
}

.section-title{
    margin-top: 64px;
}

.section-content{
    margin-top: 16px;
}

.section1-button{
    background-color: var(--seasalt);
    color: var(--oxford-blue);
    box-shadow: var(--box-shadow);
    padding: 12px 24px;
    border-radius: 8px;
}

.section1-button:hover{
    background-color: var(--orange);
    color: var(--seasalt);
}

footer .bi-square-fill{
    color: var(--seasalt);
}

.footer-link{
    color: var(--seasalt);
}

.footer-icon{
    font-size: 25px;
}